[Unit]
Description=CaptionIt startup script

[Service]
ExecStart=/usr/bin/python3 ~/root/subtitler/captionit.py -d 5

[Install]
WantedBy=multi-user.target
