- certifi==2019.11.28
- cffi==1.15.0
- chardet==3.0.4
- dbus-python==1.2.16
- distro-info===0.23ubuntu1
- future==0.18.2
- idna==2.8
- iotop==0.6
- Pillow==9.0.1
- pycparser==2.21
- PyGObject==3.36.0
- python-apt==2.0.0+ubuntu0.20.4.5
- requests==2.22.0
- requests-unixsocket==0.2.0
- six==1.14.0
- smbus==1.1.post2
- sounddevice==0.4.4
- spidev==3.5
- ssd1306==0.1.0
- unattended-upgrades==0.1
- urllib3==1.25.8
- vosk==0.3.32

 